<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\w+)$ redirect/index.php?code=$1 [L]
RewriteRule ^$ app/index.php [L]
</IfModule>
